.page {
  background-color: #ffffff;
  height: 100%;
}

//desktop

@media (min-width: @width-desktop) {
  .page__body--index-background {
    position: relative;
    background: url("../../img/index-background-main-header-cat-mask.png") no-repeat top right 0/720px 694px, url("../../img/desktop-index-background-main-header-cat.png") no-repeat top right 0/720px 694px;
  }
}
