.range__wrapper {
  .wrapper ();
}

.range__container {
  display: flex;
  justify-content: space-between;
  width: max-content;
  align-items: center;
  margin: 0 auto;
}

.range__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.range__image-cat-before-and-after {
  display: none;
}

.range__band {
  min-width: 85px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  margin: 0 13px;
  position: relative;

  &::before {
    display: inline-block;
    content: "";
    width: 50%;
    height: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #68b738;
    border-radius: 6px;
    margin-left: 6px;
  }
}

// tablet
@media (min-width: @width-tablet) {
  .range {
    background-color: #eaeaea;
    min-height: 462px;
    margin-top: 250px;
    box-sizing: border-box;
  }

  .range__wrapper {
    position: relative;
  }

  .range img {
    width: 592px;
    height: 511px;
  }

  .range__container {
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
  }

  .range__image-container {
    position: absolute;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
  }

  .range__band {
    min-width: 426px;
    background: #dcdcdc;
    border-radius: 6px;
    height: 6px;

    &::after {
      display: inline-block;
      content: "";
      width: 34px;
      height: 34px;
      border-radius: 50%;
      background-color: #ffffff;
      position: relative;
      left: 50%;
      transform: translate(-50%, -40%);
    }

    &::before {
      display: inline-block;
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
      position: relative;
      left: 52%;
      transform: translate(-50%, -27px);
      z-index: 2;
    }
  }

  .range__image-cat-before-and-after {
    display: block;
    position: absolute;
    top: -230px;
    left: 50%;
    transform: translateX(-50%);
  }
}

//desktop

@media (min-width: @width-desktop) {
  .range {
    background-color: unset;
    position: relative;
    margin: 0;
  }

  .range__wrapper {
    transform: translateY(-30px);
  }

  .range__image-cat-before-and-after {
    top: 0;
  }

  .range__image-container {
    min-height: 511px;
    position: unset;
    transform: unset;
  }

  .range__container {
    position: unset;
    transform: unset;
  }
}
