.social-network {
  background-color: #f2f2f2;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

.social-network__wrapper {
  .wrapper ();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social-network__logo-cat {
  .border-bottom();
  display: block;
  min-height: 95px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 32px;
}

.social-network__border-container {
  .border-bottom();
  width: 100%;
  min-height: 63px;
  display: flex;
  align-items: center;
}

.social-network__list {
  .list-reset();

  display: flex;
  width: 132px;
  min-height: 22px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0 auto;
}

.social-network__logo-container {
  width: 100%;
  min-height: 78px;
  box-sizing: border-box;
  padding-top: 28px;
}

.social-network__logo-htmlacademy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    display: inline-block;
    content: "";
    width: 27px;
    height: 34px;
    background: url("../../img/logo-htmlacademy-label.svg") no-repeat center;
    margin-left: 22px;
  }
}

.social-network__icon {
  display: inline-block;
  width: 28px;
  height: 22px;
}

.social-network__ {
  &vkontakte {
    background: url("../../img/social-icon.svg") no-repeat -1px -3px;
  }

  &youtube {
    background: url("../../img/social-icon.svg") no-repeat -36px -2px;
  }

  &telegramm {
    background: url("../../img/social-icon.svg") no-repeat -70px -1px;
  }
}

// tablet
@media (min-width: @width-tablet) {
  .social-network__wrapper {
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
  }

  .social-network__logo-cat {
    width: max-content;
  }

  .social-network__logo-container {
    width: max-content;
  }

  .social-network__list {
    min-height: 148px;
    align-items: center;
  }
}
