.work__wrapper {
  .wrapper();
  margin-bottom: 49px;
}

.work__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}

.work__list {
  display: grid;
  gap: 20px;
  word-wrap: break-word;
  .list-reset();
}

.work__item {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  padding-left: 80px;
}

.work__image1::before,
.work__image2::before,
.work__image3::before,
.work__image4::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.work__image {
  &1::before {
    background: url("../../img/index-work-item-image1.png") center no-repeat;
  }

  &2::before {
    background: url("../../img/index-work-item-image2.png") center no-repeat;
  }

  &3::before {
    background: url("../../img/index-work-item-image3.png") center no-repeat;
  }

  &4::before {
    background: url("../../img/index-work-item-image4.png") center no-repeat;
  }
}

// tablet
@media (min-width: @width-tablet) {
  .work {
    .border-bottom();

    margin: 0;
    padding-bottom: 47px;
  }

  .work__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .work__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(246px, 1fr));
    row-gap: 37px;
    column-gap: 153px;
  }

  .work__item {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 151px;

    &::before {
      top: 40px;
      left: 0;
    }
  }

  .work__image1::after,
  .work__image2::after,
  .work__image3::after,
  .work__image4::after {
    display: inline-block;
    content: "";
    width: 134px;
    height: 280px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
  }

  .work__image {
    &1::after {
      background: url("../../img/index-work-item-image1-number1.svg") no-repeat center;
    }

    &2::after {
      background: url("../../img/index-work-item-image2-number2.svg") no-repeat center;
    }

    &3::after {
      background: url("../../img/index-work-item-image3-number3.svg") no-repeat center;
    }

    &4::after {
      background: url("../../img/index-work-item-image4-number4.svg") no-repeat center;
    }
  }
}

//desktop
@media (min-width: @width-desktop) {
  .work {
    padding-bottom: 26px;
  }

  .work__list {
    display: flex;
    justify-content: space-between;
  }

  .work__item {
    padding-top: 120px;
  }
}
